:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --dark-blue: hsl(223, 47%, 23%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --font-size: 1rem;
  --font-family: 'Red Hat Display', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--desaturated-blue);
  width: 100vw;
  height: 100vh;
  background-color: var(--pale-blue);
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('./images/pattern-background-mobile.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.card {
  display: grid;
  min-width: 320px;
  max-width: 340px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 20px 20px hsla(245, 75%, 52%, 0.15);
  z-index: 20;
}

.card__content {
  display: grid;
  gap: 1.5rem;
  padding: 1.75rem;
  text-align: center;
}

.card__title {
  font-size: 1.5rem;
  color: var(--dark-blue);
  font-weight: 900;
}

.card__description {
  line-height: 1.75rem;
}

.card__product {
  display: flex;
  justify-content: space-between;
  font-size: var(--small-font-size);
  background-color: var(--very-pale-blue);
  padding: 1.25rem;
  border-radius: 10px;
}

.product {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-description h2 {
  color: var(--dark-blue);
  font-weight: 900;
}

.product-description h2, .product-description p {
  font-size: 0.9em;
}

.card__link {
  font: inherit;
  font-size: 0.9em;
  font-weight: 700;
}

.change {
  color: var(--bright-blue);
  align-self: center;
}

.payment {
  color: white;
  background-color: var(--bright-blue);
  text-decoration: none;
  padding: 0.9rem 0;
  border-radius: 10px;
  box-shadow: 0px 20px 20px hsla(245, 75%, 52%, 0.15);
}

.change:hover, .payment:hover {
  opacity: 0.7;
}

.cancel {
  color: var(--desaturated-blue);
  text-decoration: none;
}

.cancel:hover {
  color: var(--dark-blue);
}

footer {
  position: absolute;
  bottom: 2px;
  width: 100%;
}

@media (min-width: 768px) {
  main {
    background-image: url('./images/pattern-background-desktop.svg');
  }

  .card{
    max-width: 450px;
  }

  .card__content {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
  }

  .card__title {
    font-size: 1.75em;
  }

  .product-description h2, .product-description p {
    font-size: var(--font-size);
  }
  
  .card__link {
    font-size: var(--font-size);
  }
}